.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px #212121 solid;
}

.profile__avatar {
  margin-right: 20px;
  border-radius: 10px;
  height: 190px;
  width: 190px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  margin: 0 0 12px;
}

.profile__description {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.profile__edit-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  opacity: 70%;
  background: none;
  border: none;
  margin-right: auto;
  padding: 10px;
}

.profile__edit-btn:hover {
  opacity: 100%;
}

.profile__add-btn {
  width: 149px;
  height: 52px;
  margin-left: auto;
  margin-top: auto;
  background: #212121;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.profile__add-btn:hover {
  opacity: 80%;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin-right: 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
  }

  .profile__description {
    margin: 0 0 32px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__add-btn {
    margin: 0;
    width: 288px;
    height: 52px;
  }

  .profile__edit-btn {
    margin: auto;
  }
}
